<nav class="navbar navbar-default navbar-fixed-top background-color-blue text-size-20px">
    <div class="container-fluid">
        <a class="navbar-text pull-left text-size-20px"
           href="#/user/{{model.userid}}/websites">
            <span class="glyphicon glyphicon-chevron-left white"></span>
        </a>

        <div class="navbar-brand white postion-config-brand pt-brand-header-font-config
        pt-navbrand-config">
            Pages
        </div>

        <a class="navbar-text pull-right"
           href="#/user/{{model.userid}}/websites/{{model.websiteid}}/page/new">
            <span class="glyphicon glyphicon-plus pull-right white"></span>
        </a>
    </div>
</nav>

<div class="container-fluid pt-top-padding-page-layout">

    <div class="row a-margin-bottom"
         ng-repeat="page in model.pagelist">
        <div class="col-xs-10">
            <a class="no-border a-margin-bottom pt-font23"
               href="#/user/{{model.userid}}/websites/{{model.websiteid}}/page/{{page._id}}/widget">
                {{page.name}}
            </a>
        </div>
        <div class="col-xs-2">
            <a class="pt-font23" href="#/user/{{model.userid}}/websites/{{model.websiteid}}/page/{{page._id}}">
                <span class="glyphicon glyphicon-cog pull-right pt-cog-config-websitelist"></span>
            </a>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom text-size-20px">
    <div class="container-fluid">
        <a class="navbar-text pull-right"
           href="#/profile/{{model.userid}}">
            <span class="glyphicon glyphicon-user white"></span>
        </a>
    </div>
</nav>
