
<nav class="navbar navbar-default navbar-fixed-top text-size-20px">

    <div class="col-sm-1">
        <a class="navbar-text pull-left text-size-20px"
           href="#/user/{{model.userid}}/websites" >
            <span class="glyphicon glyphicon-chevron-left white"></span>
        </a>
    </div>

    <div class="col-sm-3 hidden-sm hidden-xs pt-padding-right-config">

        <div class="navbar-header">
            <div class="navbar-brand white position-config-brand " >
                Websites
            </div>
        </div>

        <a class="navbar-text pull-right"
           href="#/user/{{model.userid}}/websites/new">
            <span class="glyphicon glyphicon-plus white"></span>
        </a>

    </div>

    <div class="col-sm-8">
        <div class="container-fluid">
        <div class="navbar-brand white position-config-brand">
            Edit Website
        </div>
        <a class="navbar-text pull-right"
           href="#/user/{{model.userid}}/websites">
            <span class="glyphicon glyphicon-ok pull-right white"></span>
        </a>
        </div>
    </div>
</nav>

<div class="rows container-fluid">

    <div class="col-sm-4 hidden-sm hidden-xs">

       <div ng-repeat="website in model.websiteslist">
        <div class="container-fluid container-bottom-padding container-top-padding">

            <a class="no-border a-margin-bottom text-size-20px"
               href="#/user/{{website.developerId}}/websites/{{website._id}}">
                {{website.name}}
            </a>

            <a class="no-border a-margin-bottom "
                   href="#/user/{{website.developerId}}/websites/{{website._id}}">
                    <span class="glyphicon glyphicon-cog pull-right
                     website-new-layout-config"></span>
            </a>
        </div>
       </div>
    </div>

    <div class="col-sm-8">

        <div class="container-fluid">

        <div ng-show="model.WebsiteUpdationStatus"
             class="alert alert-success"
             role="alert">
            {{model.WebsiteUpdationStatus}}
        </div>

        <div class="container-fluid container-bottom-padding container-top-padding pt-website-name-layout">

            <label class="text-size-20px"
                   for="Website_name">
                    Website Name
            </label>

            <input class="form-control text-size-20px"
                   ng-model="model.websiteName.name"
                   id="Website_name">
        </div>

        <div class="container-fluid container-bottom-padding">
            <label class="text-size-20px"
                   for="description">
                   Website Description </label>

            <textarea class="form-control text-size-20px"
                      rows="4"
                      ng-model="model.websiteName.description"
                      id="description">
            </textarea>
        </div>

        <div class="container-fluid container-bottom-padding pt-edit-website-buttons-config">
            <a class="form-control btn-block btn-success delete-button-config pt-text-align-center"
               ng-click="model.updateWebsite(model.websiteName._id,model.websiteName)">Update</a>
        </div>

        <div class="container-fluid container-bottom-padding">
            <a class="form-control btn-block btn-danger delete-button-config pt-text-align-center"
               ng-click="model.deleteWebsite()">Delete</a>
        </div>

    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom text-size-20px">
    <div class="container-fluid">
        <a class="navbar-text pull-right "
           href="#/profile/{{model.userid}}">
            <span class="glyphicon glyphicon-user white"></span>
        </a>
    </div>
</nav>

