
<nav class="navbar navbar-default navbar-fixed-top background-color-blue text-size-20px">
    <div class="container-fluid">
        <a class="navbar-text pull-left text-size-20px" href="widget-list.view.client.html" >
            <span class="glyphicon glyphicon-chevron-left white"></span>
        </a>
        <!-- <div class="navbar-header"> -->
        <div class="navbar-brand white postion-config-brand pt-brand-header-font-config
        pt-navbrand-config">
            Widget Edit
        </div>
        <!-- </div> -->
        <a class="navbar-text pull-right" href="widget-list.view.client.html">
            <span class="glyphicon glyphicon-ok pull-right white"></span>
        </a>
    </div>
</nav>

<div class="container-fluid container-bottom-padding">
    <label class="text-size-20px" for="widget_name"> Name </label>
    <input class="form-control text-size-20px input-form-layout-config" placeholder="Widget Name" id="widget_name">
</div>

<div class="container-fluid container-bottom-padding">
    <label class="text-size-20px" for="Widget-text"> Text </label>
    <input class="form-control text-size-20px input-form-layout-config" id="Widget-Text" placeholder="Widget Text">
</div>

<div class="container-fluid container-bottom-padding">
    <label class="text-size-20px" for="Widget-size"> Size </label>
    <input class="form-control text-size-20px input-form-layout-config" type="Number" id="Widget-size" placeholder="Widget Size">
</div>

<div class="container-fluid container-bottom-padding">
    <a class="form-control btn-block btn-danger delete-button-config pt-text-align-center"
       href="widget-list.view.client.html">
        Delete</a>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="container-fluid">
        <a class="navbar-text pull-right" href="#">
            <span class="glyphicon glyphicon-user white"></span>
        </a>
    </div>
</nav>