
<nav class="navbar navbar-default navbar-fixed-top background-color-blue text-size-20px">
    <div class="container-fluid">
        <a class="navbar-text pull-left text-size-20px"
           href="#/user/{{model.userId}}/websites/{{model.websiteId}}/page/{{model.pageId}}/widget" >
            <span class="glyphicon glyphicon-chevron-left white"></span>
        </a>
        <div class="navbar-brand white postion-config-brand">
            Choose Widget
        </div>
    </div>
</nav>

<div class="container-fluid ">

    <div class="container-fluid choose-widget-container-layout-config">
        <a class="no-border a-margin-bottom text-size-20px"
           href=""
           ng-click="model.createwidget('HEADING')">
            Header
        </a>
    </div>

    <div class="container-fluid choose-widget-container-layout-config ">
        <a class="no-border a-margin-bottom text-size-20px"
           href=""
           ng-click="model.createwidget('HTML')">
            HTML
        </a>
    </div>


    <div class="container-fluid choose-widget-container-layout-config ">
        <a class="no-border a-margin-bottom text-size-20px"
           href=""
           ng-click="model.createwidget('IMAGE')">
            Image
        </a>
    </div>

    <div class="container-fluid choose-widget-container-layout-config ">
        <a class="no-border a-margin-bottom text-size-20px"
           href=""
           ng-click="model.createwidget('YOUTUBE')">
            YouTube
        </a>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom text-size-20px">
    <div class="container-fluid">
        <a class="navbar-text pull-right "
           href="#/profile/{{model.userId}}">
            <span class="glyphicon glyphicon-user white"></span>
        </a>
    </div>
</nav>