<h2>IMAGE EDITOR</h2>

<div ng-show="model.smessage"
     class="alert alert-success"
     role="alert">
    {{model.smessage}}
</div>

<div ng-show="model.errmessage"
     class="alert alert-success"
     role="alert">
    {{model.errmessage}}
</div>

<div class="choose-widget-youtube-layout-config">
    <label class="text-size-20px"
           for="widget_name"> Name </label>
    <input class="form-control text-size-20px input-form-layout-config"
           placeholder="Widget Name"
           id="widget_name"
            ng-model="model.widget.name">
</div>

<div class="choose-widget-youtube-layout-config">
    <label class="text-size-20px"
           for="Widget-text"> Text </label>
    <input class="form-control text-size-20px input-form-layout-config"
           id="Widget-Text"
           placeholder="Widget Text"
           ng-model="model.widget.text">
</div>

<div class="choose-widget-youtube-layout-config">
    <label class="text-size-20px" for="Widget-url"> URL </label>
    <input class="form-control text-size-20px input-form-layout-config"
           type="url"
           id="Widget-url"
           placeholder="Widget URL"
           ng-model="model.widget.url">
</div>

<div class="choose-widget-youtube-layout-config">
    <label class="text-size-20px" for="Widget-width"> Width in % </label>
    <input class="form-control text-size-20px input-form-layout-config"
           type="number"
           id="Widget-width"
           placeholder="Widget Width in %"
           ng-model="model.widget.width">
</div>

<div class="choose-widget-youtube-layout-config">
    <label class="text-size-20px" for="upload_file"> Upload </label>

</div>


<div class="choose-widget-youtube-layout-config">
    <form action="/api/upload"
          method="post"
          enctype="multipart/form-data">
        <input  name="myFile"
                type="file"
                class="form-control text-size-20px input-form-layout-config upload-input-file-layout-config"
                id="upload_file"
                ng-model="model.uploadedImgObj"/>
        <input  name="width"    value="{{model.widget.width}}" style="display: none"/>
        <input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>
        <input  name="pageId" value="{{model.pageId }}"   style="display: none"/>
        <input  name="widgetName" value="{{model.widget.name}}"   style="display: none"/>
        <input  name="widgetText" value="{{model.widget.text}}"   style="display: none"/>
        <input  name="userId" value="{{model.userId}}"   style="display: none"/>
        <input  name="websiteId" value="{{model.websiteId}}"   style="display: none"/>
    <button class="form-control btn-block btn-success delete-button-config"
            type="submit">Upload Image</button>
    </form>
</div>

<div class="choose-widget-youtube-layout-config container-bottom-padding">
    <a class="form-control btn-block btn-primary delete-button-config pt-text-align-center"
       href=""
       ng-click="model.update(model.widget)">
        Update Image URL</a>
</div>

<div>
    <a class="form-control btn-block btn-primary delete-button-config pt-text-align-center"
       href="#/user/{{model.widget.userId}}/website/{{model.widget.websiteId}}/page/{{model.widget.pageId}}/widget/{{model.widget._id}}/flicker">Search Images</a>
</div>

<div class="choose-widget-youtube-layout-config container-bottom-padding">
    <a class="form-control btn-block btn-danger delete-button-config pt-text-align-center pt-imgbutton-bottom-margin"
       href=""
       ng-click="model.deletewid()">
        Delete</a>
</div>