<nav class="navbar navbar-default navbar-fixed-top background-color-blue text-size-20px">
    <div class="container-fluid">
        <a class="navbar-text pull-left text-size-20px" href="../../website/templates/website-list.view.client.html" >
            <span class="glyphicon glyphicon-chevron-left white"></span>
        </a>
        <!-- <div class="navbar-header"> -->
        <div class="navbar-brand white postion-config-brand pt-brand-header-font-config
        pt-navbrand-config">
            Pages
        </div>
        <!-- </div> -->
        <a class="navbar-text pull-right" href="page-new.view.client.html">
            <span class="glyphicon glyphicon-plus pull-right white"></span>
        </a>
    </div>
</nav>

<div class="container-fluid ">

    <div class="container-fluid container-bottom-padding container-top-padding ">
    <a class="no-border a-margin-bottom text-size-20px" href="../../widget/templates/widget-list.view.client.html">
        Blog Post
        <a class="no-border a-margin-bottom text-size-20px" href="page-edit.view.client.html">
            <span class="glyphicon glyphicon-cog pull-right "></span>
        </a>
    </a>
    </div>

    <div class="container-fluid container-bottom-padding">
    <a class="no-border a-margin-bottom text-size-20px" href="../../widget/templates/widget-list.view.client.html">
        Blogs
        <a class="no-border a-margin-bottom text-size-20px" href="page-edit.view.client.html">
            <span class="glyphicon glyphicon-cog pull-right "></span>
        </a>
    </a>
    </div>

    <div class="container-fluid container-bottom-padding">
    <a class="no-border a-margin-bottom text-size-20px" href="../../widget/templates/widget-list.view.client.html">
        Home
        <a class="no-border a-margin-bottom text-size-20px" href="page-edit.view.client.html">
            <span class="glyphicon glyphicon-cog pull-right "></span>
        </a>
    </a>
    </div>

    <div class="container-fluid container-bottom-padding">
    <a class="no-border a-margin-bottom text-size-20px" href="../../widget/templates/widget-list.view.client.html">
        About
        <a class="no-border a-margin-bottom text-size-20px" href="page-edit.view.client.html">
            <span class="glyphicon glyphicon-cog pull-right "></span>
        </a>
    </a>
    </div>


    <div class="container-fluid container-bottom-padding">
    <a class="no-border a-margin-bottom text-size-20px" href="../../widget/templates/widget-list.view.client.html">
        Contact Us
        <a class="no-border a-margin-bottom text-size-20px" href="page-edit.view.client.html">
            <span class="glyphicon glyphicon-cog pull-right "></span>
        </a>
    </a>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom text-size-20px">
    <div class="container-fluid">
        <a class="navbar-text pull-right" href="../../views/user/templates/profile.view.client.html">
            <span class="glyphicon glyphicon-user white"></span>
        </a>
    </div>
</nav>
